/* Импорт шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&display=swap');

/* Общие стили */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    color: #000018;
}

html {
    background-color: #89C4F4;
    margin: 50px auto;
}

.header {
    border-radius: 25px 25px 0 0;
    width: 90%;
    padding: 80px;
    height: 80px;
    background-color: #c1e3ff;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header img {
    width: 10%;
}

.about_me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 15px 80px 0 80px;
    background-color: #c1e3ff;
    width: 90%;
}

.info_me {
    width: 550px;
}

.info_me p {
    width: 550px;
    padding-top: 15px;
}

.info_me p b {
    color: #284ba2;
}

.info_me h1 {
    font-size: 32px;
}

.about_me img {
    width: 25%;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #89C4F4, 0px 0px 8px #000018;
}


.wrapper_facts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    margin: auto;
    padding: 80px 80px 0 80px;
    background-color: #c1e3ff;
    width: 90%;
}

.wrapper_facts div {
    width: 45%;
    margin: 0 56px 50px 0;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 0px 10px #89C4F4, 0px 0px 3px #000018;
}

.wrapper_facts div h2 {
    padding-bottom: 10px;
}

.dostizenie li {
    list-style-type: circle;
}

.wrapper_facts div p,
ul {
    padding-left: 15px;
}

.opit ul {
    display: flex;
    flex-wrap: wrap;
}

.opit li {
    box-shadow: 0px 0px 10px #89C4F4, 0px 0px 2px #000018;
    padding: 4px;
    list-style-type: none;
    text-align: center;
    margin: 10px 20px 5px 0;
}

.develop {
    margin: auto;
    padding: 15px 80px 50px 80px;
    background-color: #c1e3ff;
    width: 90%;
}

.footer {
    margin: auto;
    padding: 15px 80px 50px 80px;
    background-color: #c1e3ff;
    width: 90%;
    border-radius: 0 0 25px 25px;
}

.wrapper_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social img {
    filter: invert(6%) sepia(14%) saturate(4893%) hue-rotate(210deg) brightness(94%) contrast(116%);
    width: 32px;
    margin-top: 10px;
}

.social img:hover {
    filter: invert(23%) sepia(43%) saturate(2457%) hue-rotate(205deg) brightness(98%) contrast(91%);
}

/* адаптивы */
@media screen and (min-width:1025px) and (max-width:1437px){
    .wrapper_facts div {margin: 0 35px 50px 0;}
}
@media screen and (min-width:500px) and (max-width:1024px){
    .header img {width: 20%;}
    .about_me {flex-direction: column;}
    .about_me img {width: 60%;margin-top: 20px;}
    .info_me {text-align: center;}
    .info_me p {width: 82%;margin: 0 auto;}
    .wrapper_facts div {margin: 0 0px 30px 0;flex-direction: column;width: 100%;}
}
@media screen and (min-width:320px) and (max-width:499px){
    html{margin: 20px auto;background-color: #89C4F4;}
    .header{flex-direction: column;text-align: center;gap: 10px;width: 100%;}
    .header img {width: 70%;margin-top: 50px;}
    .about_me img {width: 70%;margin-top: 20px;}
    .info_me {text-align: center;margin-top: 30px;}
    .info_me p {width: 80%;margin: 0 auto;}
    .about_me {padding: 50px 0 0 0;background-color: #c1e3ff;width: 100%;flex-direction: column;}
    .wrapper_facts {width: 100%;} 
    .wrapper_facts div {margin: 0 0px 30px 0;flex-direction: column;width: 100%;}
    .develop {width: 100%;}
    .footer {width: 100%;}
    .wrapper_footer {flex-direction: column;flex-flow: column-reverse;text-align: center;gap: 20px;width: 100%;}
}